//
// Footer
// --------------------------------------------------

footer {
  width: 100%;
  padding: 10px 0;
  background-color: $white;

  a {
    text-decoration: none;
    color: $white;
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 35px;
    margin: 5px 10%;
    padding: 5px 0;
    font-family: $sans-serif;
    border-radius: 2px;
    text-align: left;

    @include bp(xtrasmall) {
      width: 50%;
      margin: 5px 25%;
    }

    @include bp(small) {
      width: 40%;
      margin: 5px 30%
    }

    @include bp(medium) {
      width: 25%;
      margin: 5px 37.5%
    }

    @include bp(large) {
      width: 20%;
      margin: 5px 40%
    }
  }

  img#twitter-icon {
    width: 20px;
    height: 15px;
    margin: 0 10px;
  }

  img#moodsbot {
    width: 20px;
    height: 20px;
    margin: -3px 10px;
  }

}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 60%;
  margin: 0 20%;
  font-size: 15px;
}


button#twitter {
  background-color: $twitter-blue;
  color: $white;
}

button#start-over {
  border: 1px solid $medium-dark-gray;
  background-color: $white;
  color: $medium-dark-gray;
}
