//
// Footer
// --------------------------------------------------

footer {
  width: 100%;
  padding: 10px 0;
  background-color: $white;

  button {
    width: 80%;
    height: 35px;
    margin: 5px 10%;
    padding: 5px 0;
    font-family: $sans-serif;
    border-radius: 2px;
    text-align: left;

    @include bp(xtrasmall) {
      width: 30%;
      margin: 5px 35%;
    }
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 60%;
    margin: 0 20%;
  }


  button#twitter {
    background-color: $twitter-blue;
    color: $white;
  }

  button#start-over {
    border: 1px solid $medium-dark-gray;
    background-color: $white;
    color: $medium-dark-gray;
  }

  img {
    width: 20px;
    height: 15px;
    margin: 0 10px;
  }

}
