//
// Layout
// --------------------------------------------------

.container {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px 20px;
}

.section {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row > * {
  margin: 0 20px;
}

.row > :first-child {
  margin-left: 0;
}

.row > :last-child {
  margin-right: 0;
}

@include bp(xtrasmall) {
  .container {
    width: 33.3333%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
