//
// Results styles
// --------------------------------------------------

.roast-results {
  margin: 10px 0;
  padding: 20px 30px;
  border-radius: 2px;
  background-color: $white;

  img {
    width: 100%;
    padding: 10px;
  }

  h1, h2, h3, h4, h5 {
    font-family: $serif;
    color: $dark-gray;
    text-transform: capitalize;
  }

  p {
    padding: 15px;
    font-size: $sans-serif;
    color: $lighter-gray;
  }

  #like {
    width: 30px;
    height: 30px;
    background: url('../images/iconAccurate@3x.jpg');
    background-repeat: no-repeat;
    background-size: 30px;
  }

  #dislike {
    width: 30px;
    height: 30px;
    background: url('../images/iconInaccurate@3x.jpg');
    background-repeat: no-repeat;
    background-size: 30px;
  }

  @include bp(xtrasmall) {
    width: 33.3333%;
    margin-right: auto;
    margin-left: auto;
  }
}

.trait-results {
  margin: 10px 0;

  .trait-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 8px 0;
    border-radius: 2px;
    background-color: $white;

    h2, h3 {
      font-family: $serif;
      color: $light-brown;
    }

    p {
      font-family: $sans-serif;
      font-weight: lighter;
      color: $lighter-gray
    }

    .trait-percent {
      width: 70px;
      height: 70px;
      margin: 8px;
      padding: 17px;
      font-size: 24px;
      background-color: $light-brown;
      color: $white;
    }

    .trait-description {
      width: 70%;
      margin: 8px;
      text-align: left;
    }
  }
}
