<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K7W4383"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<img class="logo" src="/svg/o3-labs-logo.svg">
<h1>O<sub>3</sub> Barista</h1>

<div ng-app="app" ng-controller="PersonalityController">
  <div class="section">
    <form id="twitterInput" ng-submit="getData()">
      <input type="text"
             id="twitterName"
             class="form-control form-control-vertical"
             name="twitterHandle"
             placeholder="Twitter Handle"
             ng-model="twitter">
      <input class="btn" type="submit" value="Submit">
    </form>
  </div>

  <div ng-if="preference" ng-cloak>
    <div class="section">
      <p>Your desire to discover and learn is at {{curiosity | number:2 | decimalToPercent}}.</p>
      <p>Your desire to pursue new experiences is at {{liberty | number:2 | decimalToPercent}}.</p>
      <p>You sound like you would enjoy a {{preference}} roast.</p>

      <div ng-hide="feedbackSubmitted">
        <div ng-hide="roastFeedbackVisible">
          <p>Do you like this roast?</p>
          <div class="row">
            <button ng-click="submitFeedback(preference)">Yes</button>
            <button ng-click="showRoastFeedbackOptions()">No</button>
          </div>
        </div>

        <div ng-show="roastFeedbackVisible">
          <p>What kind of roast do you prefer?</p>
          <div class="row">
            <button ng-repeat="roast in roastOptions"
                    ng-if="roast !== preference"
                    ng-click="submitFeedback(roast)">
              {{roast}}
            </button>
          </div>
        </div>
      </div>

      <div ng-show="feedbackSubmitted">
        <p>Thanks for the feedback, enjoy your brew.</p>
      </div>
    </div>

    <div class="section">
      <h3>Other Traits</h3>
      <p ng-repeat="trait in personalityData" ng-cloak>
        {{trait.id}}: {{trait.percentage*100 | number:0}}%
      </p>
    </div>
  </div>
</div>
