
<img class="logo" src="/svg/o3-labs-logo.svg">
<h1>O<sub>3</sub> Barista</h1>

<div ng-app="app" ng-controller="PersonalityController">
  <form id="twitterInput" ng-submit="getData()">
    <input type="text"
        id="twitterName"
        class="form-control form-control-vertical"
        name="twitterHandle"
        placeholder="Twitter Handle"
        ng-model="twitter">
    <input class="btn" type="submit" value="Submit">
  </form>
  <p></p>

  <div ng-if="preference" ng-cloak>
    <p>Your desire to discover and learn is at {{curiosity | number:2 | decimalToPercent}}.</p>
    <p>Your desire to pursue new experiences is at {{liberty | number:2 | decimalToPercent}}.</p>
    <p>You sound like you would enjoy a {{preference}} roast.</p>

    <h3>Other Traits</h3>
    <p ng-repeat="stuff in array" ng-cloak>
      {{stuff.id}}: {{stuff.percentage*100 | number:0}}%
    </p>
  </div>
</div>
